:root {
  --font-family-roboto: 'Roboto', sans-serif;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #013C38;
}

.landingpage {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: flex-start; /* Align items to the top */
  width: 100%;
  height: 100%;
  background-color: #013c38;
  padding: 1.39vw;
  position: relative;
  z-index: 0;
  min-height: 500px; /* Minimum height to prevent overlapping */
  gap: 20px;
}

.landingpage > * {
  display: flex;
  justify-content: center; /* Center content inside each item */
  align-items: center; /* Center content inside each item */
}

.logo {
  width: clamp(50px, 50vw, 340px); /* Set max width to 340px */
  aspect-ratio: 400/340; /* Fixed aspect ratio */
  height: auto;
  z-index: 1;
}

.slogan {
  width: 50vw;
  aspect-ratio: 724/169;
  height: auto;
  flex-wrap: nowrap;
  max-width: 724px;
  font-family: var(--font-family-roboto);
  font-weight: 800;
  line-height: 90%;
  text-transform: capitalize;
  color: #D6DF36;
  text-align: center;
  font-size: clamp(6px, 6.67vw, 60px); /* Responsive font size */
}

.instructions {
  width: 50vw;
  padding-left: 10vw;
  aspect-ratio: 48.33 / 17.02; /* Fixed aspect ratio */
  height: auto;
  font-family: var(--font-family-roboto);
  font-weight: bold;
  text-align: left;
  color: rgba(214, 223, 54, 1);
  font-size: clamp(6px, 1.39vw, 20px); /* Responsive font size */
}

.illustration {
  aspect-ratio: 690 / 682; /* Fixed aspect ratio */
  width: clamp(20px, 25vw, 690px); /* Set max width to 690px */
  height: auto; /* Maintain aspect ratio */
}

.button-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2.73; /* Fixed aspect ratio */
  width: clamp(50px, 15vw, 276px); /* Set max width to 276px */
  height: auto;
  background: linear-gradient(97.4deg, #D6DF36 5.97%, #013c38 98.58%);
  color: #013C38;
  font-family: var(--font-family-roboto);
  font-weight: 800;
  font-size: 2.5vw;
  border-radius: 5.77vw;
  z-index: 2;
}

.loading-spinner {
  aspect-ratio: 1; /* Circle aspect ratio */
  width: 1.67vw;
  height: 1.67vw;
  border: 0.28vw solid #013c38;
  border-top: 0.28vw solid #013c38;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Media Queries for responsiveness */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
